aiofiles
aiologic
alembic
anyio
apscheduler >= 4.0.0a0 --pre
attrs
cachetools
colorama >= 0.4
cryptography
FastAPI
httptools >= 0.6.3
uvicorn
httpx[http2,brotli,zstd]
lxml
orjson
playwright
pydantic > 2
pympler
ruamel.yaml
git+https://github.com/Eric-Joker/greenlet@master#egg=greenlet; sys_platform == 'win32'
greenlet; sys_platform != 'win32'
SQLAlchemy[asyncio, aiosqlite]
tenacity
tqdm
uvloop; sys_platform == 'linux'
websockets >= 15
wrapt
xxhash
